body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
  justify-content: center;
}

.mr-auto{
  margin-right: auto;
}

.navbar-brand.nav-title {
  padding: 10px !important; /* Adjust as needed */
};